# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Local data / generated outputs
# -----------------------------
data/
outputs/
*.csv

# -----------------------------
# Environment variables / secrets
# -----------------------------
.env
.env.*

# -----------------------------
# IDE / editor files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
